/*--------------This is the Responsive ----------------*/
@media(max-width:991px){
    html{
        font-size: 50%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .section{
        padding: 2rem;
    }
    .icons-img{
        /* display: none; */
    }
    .header .search-form input{
       display: none;
        
    }

}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
    .icons-img{
        display: none;
       
    }
    .home{
        background-position:left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    
}
@media(max-width:450px){
    html{
        font-size:40% ;
    }
}